/* reset styles */
html, body, h1, h2, h3, h5, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, a {
 padding:       0;
 margin:        0;
 font-size:     100%;
 font-weight:   normal;
}
/* end reset styles */

/**** Global Styles ****/

html, body { 
    font-family:   Verdana, Geneva, Arial, Helvetica, sans-serif;	
    font-size:     11px;
    background:    #FFFFFF;

}
a {
  /*    color:           #3854a3;*/
    color: black;
    text-decoration: none;
}

a:visited {
/*    color:           #666677;*/
    color: black;
    padding:         2px;
}

a:hover {
    color: #0000ff;
}

/* This is for wrapping long lines of text - e.g. comments, description */
#textcell {
    min-width:      300px;
    max-width:      300px;
    white-space:    normal;
}

#footer {
	display: none;
}

#main_panel_frame {
    margin-left: 50px;
}
#main_panel h2 {
    font-size:        18px;
    font-weight:      normal;
    color:            #666;
    padding:          10px 0 10px 0;
    width: 80%;
}
#main_panel h3 {
    font-size:        16px;
    font-weight:      normal;
    color:            #666;
    padding:          10px 0 10px 0;
    margin-top:       20px;
}

#main_panel_title {
    font-size:        20px;
    color:            #8EAFD0;
    padding:          10px 0px;
    letter-spacing:   .05em;
}

.stable {
    border-collapse: collapse;
    border:          1px solid #C1DAD7;
    margin:         10px 0 0 0;
    padding:         0;
    /*-moz-border-radius: 4px 4px 0 0;   doens't work with border collapse*/
}

/*** The tables in the main panel ***/

.stable tr:hover {
    background:     #CCC;
}

.stable th {
    /*color:        #FFE5AB;*/
    color:          black;
    background:     lightgray;
    /*background:   url("../img/dark_gray_gradient.png") repeat-x;
    background:     url("../img/dark_blue_gradient.png") repeat-x;    
    background:     url("../img/mid_blue_gradient_small.png") repeat-x;*/
    text-align:     left;
    padding:        5px 10px 5px 10px;
    /*border:       1px solid #FFF;*/
    font-size:      1.2em;
    font-weight:    normal;
}
.stable tr {
    border-bottom:  1px solid #C1DAD7;
}
.stable td {
    border-left:    1px solid #C1DAD7;
    padding:        5px 5px 5px 5px;
    white-space:    nowrap;
    vertical-align: text-top;	
}

.stripe {
    /*background:      #eeeeee;*/
}

/* This is for wrapping long lines of text - e.g. comments, description */

#textcell {
    min-width:      300px;
    max-width:      300px;
    white-space:    normal;
}

.sheet_input_cell {
    padding: 0;
    margin:  0;
    overflow: visible;
}

/*** Login form ***/

#loginform {
    margin-top:  30px;
}

#loginform p {
    margin:   10px 0 10px 0;
}

#loginform .label {
    float:         left;
    width:         330px;
    margin-right:  10px;
    text-align:    right;
    clear:         left;
}

#loginform .logininput {
    width:         150px;
}

#loginbutton {
    margin-left: 375px;
    margin-top:  20px;
}

.end_float {
    clear:        both;
}
/*****************  Calendar style *********************/
.calendar {
	text-align:      left;
	border-collapse: collapse;
}
.calendar td {
	width:          100px;
	height:         70px;
  border:          1px solid #666666;
  vertical-align:  top;
}

.calendar th {
	text-align:     center;
  border:          1px solid #666666;
}
.calendar_today {
	background-color: #ddddff; 
	color:            #000000;
}

.calendar_gray {
	background-color: #aaaaaa; 
	color:            #000000;
}

.calendar tr:hover {
    color:           #2A3D54; 
}
.calendar td:hover {
	color: #2A3D54;
}
.calendar a:hover {
	  text-decoration: none;
}

/*************** Guide style ******************b*******/
.guide {
       margin: 30px;
       font:   14px Arial, Helvetica, sans-serif;
}

.guide ol{
	 margin:  10px 10px 10px 50px;
}	 

/*************** SpreadSheet ************************/

#sortable_sheet td, th {
   padding: 2px 5px 2px 5px;
   margin:  0;
   height:   15px;
}
#sortable_sheet tr:hover {
   background:  #FFFFFF;
}

/*************** Footer ****************************/
#main_footer {
   display: none;
}

/*************** Flowcell Lane Display *************/
.lane_row {
     padding:      0;
     margin:    10px;
     border-collapse: collapse;
     border:  1px solid lightgray;
}
.lane_row td {
     min-width:    60px;
     border-left: 1px solid lightgray;
     padding:   0px 5px 0px 5px;
}
     
.config_table {
    width: 80%;
    border-collapse: collapse;

}

.config_table input {
    padding: 2px 5px 2px 5px;
    min-width:  200px;
}

#config_header {
    font-size:  1.5em;
}

/****************** Documentation ********************/

.main_doc {
    line-height: 1.5em;
    width:   70%;
    margin-left: 20px;
    font:          14px Georgia, Times-Roman, serif;	
}

.demo_doc {
    font:    21px Arial, Helvetica sans-serif;
    width: 70%;
    margin: auto;
}

.description_text {
    margin-left: 40px;
    width:   30%;
    font-size: 1.2em;
}

.main_doc h1 {
    font:    24px Arial, Helvetica sans-serif;
    margin:       30px 0 30px 0;
    font-weight:  bold;
}

.main_doc a {
    text-decoration: none;
}

.main_doc ul {
    list-style : none;
}

.main_doc li {
    width:       70%;
    display:     block;
    padding:     7px 5px 7px 15px;
    margin:      auto;
    margin-top:  20px;
    margin-bottom: 20px;
    background:   url("../img/Light_Gray_Gradient.png") repeat-x left;
    border:   1px solid gray;
}

.step p { 
    margin-top:   20px;
    margin-bottom: 20px;
}

.step {
    margin:      auto;
    width: 70%;
    font-size:   14px;
    line-height:  1.7em;
    font:          14px Georgia,Times-Roman serif;	
}
.step h2 {
    font:    20px Arial, Helvetica sans-serif;
    font-size:    20px;
    margin: 30px 0 30px 0;
    font-weight:  bold;
}

.step ul {
    width:   100%;
    list-style:  none;
}

.step li {
    padding:   5px 5px 5px 15px;
    margin-top:    15px;
    border:       1px solid gray;
}

.step img {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin:  30px 30px;
}
.step pre {
      margin:  20px 0 15px 20px;
      padding: 15px;
      background: #f5f5f5;
      border:  1px solid gray;
}
.instep ul {
      border: 1px solid gray;
      background: #f5f5f5;
     }
.instep li {
      margin:  5px 5px;
      margin-left: 40px;

     border: none;
     list-style: disc;
}

.developers_tutorial {
     width: 60%;
     font:          13px Arial, Helvetica, sans-serif;
     margin: auto;
}
.developers_tutorial h2 {
     font-size: 20px;
     font-weight: bold;
     margin: 20px;
}
.developers_tutorial p, pre {
     margin:  20px;
   
}
.developers_tutorial ul {
     margin: 35px;
}
.developers_tutorial li {
     margin:  2px 5px 2px 5px;
}
.developers_tutorial table th td {
     padding:   5px;
     margin: 20px;
     text-align: left;
     border-collapse: collapse;
     border:   1px solid #555;
}
.developers_tutorial th {
     background:  #f5f5f5;
}
#config_table {
     padding: 10px;
     background: #f5f5f5;
}
.developers_tutorial pre {
     margin-left:  40px;
     padding: 15px;
     font-size: 12px;
     background:  #f1f1f1;	
     border: 1px solid #dddddd;
}

.walkdiv div {
    margin: 10px;
    font-size: 1.5em;
}
#sheet_validate_log {
    font-size: 0.6em
}

#walkthrough {
    display: block;
}

#next_button {
    float:    left;
    width:    200px;
}

#status_div {
    margin-left: 200px;
}

#table_div {
    width:       1000px;
    height:      1000px;
    overflow:    auto;
    display:     block;
    margin-left: 0px;
}

#table_div td {
    max-width:   250px;
    min-width:   100px;
    overflow:    hidden;
}
#walkthrough1 {
    width:  1000px;
    padding:  2px;
}

#file_import_menu {
    padding:   0;
    position:  absolute;
    width:     150px;
    list-style: none;
}
#file_import_menu li {
    width: 200px;
    background:     #8EAFD0;
    border:   1px solid 
}		  

#file_import_menu li:hover {
    background:  #FEE5D6;
}

.dateinput {
    margin:         0px;
    padding-left:   1px;
    font-family:    Verdana, Geneva, Arial, Helvetica, sans-serif;
    display :       block;
    text-align:     left;
    width:          300px;
    padding:        2px 0px 2px 0px;
    margin:         2px 0px 2px 0px;

}  
.property, .value {
    font-size:  1em;
    width: 300px; /* width = (desired width) - padding-right */
    padding-right: 0px;
    position: relative;
    border: solid 1px #BBB;
    line-height: 1.7em;
    text-decoration: none;
    color: #000;
    outline: none;
    vertical-align: middle;
    background: #F2F2F2;
    background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    cursor: default;
}
#queryselect {
   width:300px;
}
.selectBox .selectBox-dropdown .selectBox-label {
  line-height: 2em;
  width:   100px;
}

.selectBox-options a{
    height:  1.5em;
}
.selectBox {
    width: 262px;
    height:  2em;
}
.ui-autocomplete li.ui-menu-item {
    padding: 0px;
    margin: 0px;
}
.ui-autocomplete a.ui-menu-item-alternate {
    background-color: Gray;
}
.ui-autocomplete a.ui-state-hover {
    font-weight: normal !important;
}

.ui-autocomplete-input{
   width:300px;
   padding: 2px;
}

.ui-menu {
	list-style:none;
	margin: 0;
	display:block;
	float: left;
	border: 1px solid black;
	background: #eee;
	width: 210px;
	padding-right: 0px;
	position: relative;
	border: solid 1px #BBB;
	line-height: 1.5;
	text-decoration: none;
	color: #000;
	outline: none;
	vertical-align: middle;
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	cursor: default;
}
.ui-menu .ui-menu {
	 margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
	font-size:  1em;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	list-style:none;
	margin: 0;

}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	background:  #8EAFD0;
}
*/
#tableform td {
	  padding: 2px;
}
button {
	  font-size:  1em;
/*	width: 210px; /* width = (desired width) - padding-right */
	padding-right: 40px;*/
	position: relative;
	border: solid 1px #BBB;
	line-height: 1.5;
	text-decoration: none;
	color: #000;
	outline: none;
	vertical-align: middle;
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;
	display: inline-block;
	cursor: default;
}



/*  #########################  Top Button Bar ##########################*/

#logo  {
    display: none;
}	 

#topbuttonbar {
   display: none;
}

#topbuttonbar li {
    display:      none;
}

#topbuttonbar button {
    padding:         0;
    text-decoration: none !important; 
    margin:          0px 5px 0px 5px;
    border: none;

}

#topbuttonbar .ui-button-text {
    padding:    2px 3px 2px 3px;
    font-size:  0.8em;
}

#topbuttonbar input {
    width:  100px;
}

#topbuttonbar a {
    color:   #FFE5AB;
}

#topbuttonbar a:hover {
    color:   #FFFFFF;
}

/*  #########################  Menu Bar ##########################*/

.dropmenu ul {
    display: none;
}
.dropmenu li span {
    display: none;
}

.dropmenu .toplevel ul {
    padding:     15px 10px 15px 10px;
}
/*  #########################  First Tab Bar ##########################*/

#header {
   display: none;
}

#header a {
    padding:     0.5em 1em;           /* Spacing between text and outside of tab */
    font-size:   1.0em;               /* Size of text in tab */
    padding:     5px 10px 5px 10px;   /* padding in dropdown menus */
}

.ui-state-default {
    font-size:  0.9em;
}

/*  #########################  Second sub tab bar  ##########################*/

#subtabs {
    width:    100%;
    height:   28px;
    text-align:   center;
    background:   light-gray;
    margin-left: 166px;
}

#subtabs li {
    line-height:  28px;
    list-style:   none;
    float:        left;
    border-right:   2px solid black;
    border-right:   1px solid #eeeeee;
    vertical-align:  middle; 
    font-size:   0.9em;
    padding: 0;
}
    
#subtabs a {
    display:block;
    height: 100%;
    cursor: default;
    padding:  0 10px 0 10px;
}

#subtabs a:hover {
    color:       white;
    /*background:  url("../img/mid_blue_gradient_small.png") repeat-x ;*/
    
    

}
/*  #########################  Sidebar Accordions ##########################*/

#sidebar {
    display:   none;
}
.sidebar_accordion {
    display: none;
}

.sidebar_accordion .head a {
     display:  none;
}
.sidebar_accordion .head a:hover {
    color: #FFE5AB;
}
.sidebar_accordion li {
   display: none;
}
.sidebar_accordion a {
    display: block;
}
.sidebar_accordion li:hover {
    background:  #999999;
}
.sidebar_accordion a:hover {
    color:       #ffb612;
}

.ui-tabs-nav {
    display:  none;
    border:none;
}
/*  #########################  Add button in forms ##########################*/
.add_button {
    margin-left:  5px;
    vertical-align: middle;
}

/*  #########################  Breadcrumbs ##########################*/

#breadcrumbs {
    display:none;
}


/*  #########################  Breadcrumbs ##########################*/
.pagebuttons {
  display: none;
}
.pagebuttons li {
    display: none;
}

/*  #########################  Query results table  ##########################*/

.query_results li {
/*    display: none;	       */
}

.filter_table {
   display: none;
}
/* ########################## Cursor changing ############################*/

html.busy, html.busy * {  
  cursor: wait !important;  
}  

/* ########################### tooltip ################################## */
/* simple css-based tooltip */


.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

#nodecoration {
    margin: auto;
    padding:  20px;

}
.trigger a, .form-help {
    width:  15px;
}
/* override the arrow image of the tooltip */
.tooltip.bottom {
	background:url(/minilims/html/javascript/black_arrow_bottom.png);
	padding-top:40px;
	height:55px;
}

.tooltip.bottom {
	background:url(/minilims/html/javascript/black_arrow_bottom.png);
}
#tableform td {
/*    border:  1px solid red;*/
}

.alert {
    font-size:  0.7em;
    color: red;
}
