name: Deploy GitHub Pages

on:
  push:
    branches:
      - main  # Adjust this if your default branch is different

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout the latest commit
    - name: Checkout Code
      uses: actions/checkout@v3

    # Deploy GitHub Pages
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs # Directory with static html files
